*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $black;
  background-color: $white;
  overflow-x: hidden;
}

.hero {
  background-color: $purple;
  padding-top: 15rem;

  &-block {
    max-width: 117.3rem;
    @include margin-auto;
    background: linear-gradient(0deg, $grey, $grey), $white;
    text-align: center;
    padding-top: 4.1rem;
    padding-bottom: 3.7rem;

    &__title {
      font-size: 4rem;
      letter-spacing: 0.02rem;
      margin-bottom: 1.3rem;
      font-family: "Roboto", sans-serif;
    }

    &__desc {
      font-size: 2.8rem;
      line-height: 3.2rem;
      letter-spacing: 0.014rem;
      font-family: "Roboto", sans-serif;
    }
  }
}

.steps {
  max-width: 117.3rem;
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
  @include margin-auto;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
}

.step-item {
  flex: 0 0 27.2rem;
  max-width: 27.2rem;
  text-align: center;
  margin-bottom: 37.6rem;

  &:nth-child(even) {
    flex: 0 0 29.3rem;
    max-width: 29.3rem;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  &:nth-child(2) {
    margin-left: -4.5%;
  }
  &:nth-child(n + 3) {
    margin-left: -5%;
  }
  &__desc {
    letter-spacing: 0.01rem;
    margin-bottom: 1rem;
    line-height: 2.8rem;

    > p {
      line-height: inherit;
    }

    strong {
      color: $red;
      font-weight: 400;
    }
  }

  &__number {
    font-size: 6rem;
    line-height: 7.2rem;
    letter-spacing: 0.03rem;
  }
}
