*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $black;
  background-color: $white;
  overflow-x: hidden;
}

.hero {
  background-color: $purple;
  padding-top: 8rem;

  @include respond-to(md) {
    padding-top: 15rem;
  }

  &-block {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include margin-auto;
    background: linear-gradient(0deg, $grey, $grey), $white;
    text-align: center;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @include respond-to(sm) {
      max-width: 55rem;
      padding-left: 0;
      padding-right: 0;
    }

    @include respond-to(md) {
      max-width: 74rem;
      padding-top: 4.1rem;
      padding-bottom: 3.7rem;
    }

    @include respond-to(lg) {
      max-width: 98rem;
    }

    @include respond-to(xl) {
      max-width: 117.3rem;
    }

    &__title {
      font-size: 3rem;
      letter-spacing: 0.02rem;
      margin-bottom: 1.3rem;
      font-family: "Roboto", sans-serif;

      @include respond-to(md) {
        font-size: 4rem;
      }
    }

    &__desc {
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: 0.014rem;
      font-family: "Roboto", sans-serif;

      @include respond-to(md) {
        font-size: 2.8rem;
        line-height: 3.2rem;
      }
    }
  }
}

.steps {
  max-width: 100%;
  padding-top: 4em;
  padding-bottom: 4rem;
  @include margin-auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;

  @include respond-to(sm) {
    max-width: 55rem;
  }

  @include respond-to(md) {
    max-width: 74rem;
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
  }

  @include respond-to(lg) {
    max-width: 98rem;
  }

  @include respond-to(xl) {
    max-width: 117.3rem;
  }
}

.step-item {
  flex: 0 0 30%;
  max-width: 30%;
  text-align: center;
  margin-bottom: 27rem;

  @include respond-to(sm) {
    margin-bottom: 32rem;
  }

  @include respond-to(lg) {
    flex: 0 0 25rem;
    max-width: 25rem;
    margin-bottom: 37.6rem;
  }

  @include respond-to(xl) {
    flex: 0 0 27.2rem;
    max-width: 27.2rem;
  }

  &:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;

    @include respond-to(sm) {
      margin-bottom: 0;
    }

    @include respond-to(xl) {
      flex: 0 0 29.3rem;
      max-width: 29.3rem;
    }
  }

  &:first-child {
    margin-left: 0;
    @include respond-to(sm) {
      margin-left: -3%;
    }

    @include respond-to(lg) {
      margin-left: 0;
    }
  }

  &:nth-child(2) {
    margin-left: -13.5%;
    @include respond-to(sm) {
      margin-left: -11%;
    }

    @include respond-to(lg) {
      margin-left: -7%;
    }

    @include respond-to(xl) {
      margin-left: -4.5%;
    }
  }
  &:nth-child(n + 3) {
    margin-left: -12%;
    @include respond-to(sm) {
      margin-left: -11%;
    }

    @include respond-to(lg) {
      margin-left: -6.5%;
    }

    @include respond-to(xl) {
      margin-left: -5%;
    }
  }
  &__desc {
    letter-spacing: 0.01rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    font-size: 1.4rem;

    @include respond-to(sm) {
      line-height: 2.8rem;
      font-size: 1.6rem;
    }

    @include respond-to(xl) {
      font-size: 2rem;
    }

    > p {
      line-height: inherit;
    }

    strong {
      color: $red;
      font-weight: 400;
    }
  }

  &__number {
    font-size: 3rem;
    line-height: 4.2rem;
    letter-spacing: 0.03rem;
    @include respond-to(sm) {
      font-size: 4rem;
      line-height: 5.2rem;
    }

    @include respond-to(lg) {
      font-size: 6rem;
      line-height: 7.2rem;
    }
  }
}

.workers {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 90%;
  @include margin-auto;

  @include respond-to(md) {
    padding-top: 7rem;
    padding-bottom: 7rem;
    max-width: 80%;
  }

  &__loading {
    display: none;
    text-transform: uppercase;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    @include respond-to(md) {
      font-size: 4rem;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.worker {
  margin-bottom: 2rem;
  flex: 0 0 50%;
  max-width: 50%;
  @include respond-to(md) {
    flex: 0 0 33.3334%;
    max-width: 33.3334%;
  }

  @include respond-to(xl) {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &__image {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    @include margin-auto;

    @include respond-to(md) {
      width: 20rem;
      height: 20rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0.5rem;

    @include respond-to(md) {
      font-size: 2.4rem;
    }
  }
}

.button {
  display: table;
  @include margin-auto;
}
